.placesTable {
  width: 100%;
  border-collapse: collapse;
}

.placesTable th,
.placesTable td {
  padding: 8px;
  color: white; /* Ensures text is visible on dark backgrounds */
}

.placeOptions {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.placeOptions div {
  padding: 8px;
  cursor: pointer;
}

.placeOptions div:hover {
  background-color: #f2f2f2;
}
