body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38.13px;
  text-align: left;
}

.mainContainer {
  margin: auto auto;
  width: 90%;
}

.formContainer {
  margin: auto auto;
  width: 60%;
}

.customRow {
  display: flex;
  align-items: center;
}

button {
  padding: 16px;
  gap: 8px;
  border-radius: 6px !important;
  opacity: 0px;
  background: #cad6ec;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
